@media (min-width: 600px) {
  .praxis_img_small {
    max-width: 46%;
    padding: 2%; }

  .picture_box {
    display: flex;
    flex-wrap: wrap; }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px; }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    background: #000; }

  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer; }

  .mySlides {
    display: none; }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none; }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px; }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }

  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 0.65rem;
    padding: 8px 12px;
    position: absolute;
    top: 0; }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white; }

  .active,
  .demo:hover {
    opacity: 1; }

  img.hover-shadow {
    transition: 0.3s; }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  * {
    font: 100% "Open Sans Condensed", sans-serif;
    padding: 0;
    margin: 0;
    background-color: white;
    font-size: 1.5rem; }
    * a,
    * a:focus,
    * a:hover {
      color: #7d7d7d; }

  html body {
    width: 100%; }

  h2 {
    font-size: 2rem; }

  h3 {
    font-size: 1.5rem; }

  h4 {
    font-size: 1rem; }

  p {
    font-size: 0.65rem; }

  address {
    font-size: 1rem; }
    address br {
      font-size: 0.65rem; }

  .active {
    display: block; }

  .hidden {
    display: none; }

  .header_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column; }

  header {
    order: 2; }

  .header_img_box {
    order: 1; }

  nav .nav_h_mobil_box {
    display: none; }
  nav .nav_item_box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 20%;
    padding-left: 20%;
    background-color: #9900cc; }
    nav .nav_item_box a,
    nav .nav_item_box a:focus,
    nav .nav_item_box a:hover {
      background-color: #9900cc;
      color: white; }
      nav .nav_item_box a span,
      nav .nav_item_box a:focus span,
      nav .nav_item_box a:hover span {
        font-size: 1.0rem;
        color: white;
        background-color: #9900cc; }
    nav .nav_item_box .i_menu {
      flex-basis: 5%;
      background-color: #9900cc;
      padding: 0 2%;
      flex-grow: 1;
      text-align: center; }
  nav .nav_infoData {
    display: none; }

  .header_img_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .header_img_box img {
      flex-shrink: 0;
      min-width: 100%;
      min-height: 100%; }

  .logo_wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    background-color: white;
    opacity: 0.6;
    padding: 1% 20%; }
    .logo_wrapper .logo_items {
      background-color: white;
      text-align: center;
      width: 32%; }
      .logo_wrapper .logo_items img {
        background-color: white;
        width: 100%;
        opacity: 1; }
      .logo_wrapper .logo_items span {
        opacity: 1;
        font-size: 0.5rem; }

  #header_logo {
    opacity: 1; }

  .welcome_wrapper {
    margin: 2% 20%; }
    .welcome_wrapper .welcome_text_box {
      text-align: center; }

  .w_wrapper_begin {
    align-items: flex-start; }

  .w_wrapper, .w_wrapper_begin {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: flex-end; }
    .w_wrapper .content_box, .w_wrapper_begin .content_box {
      width: 50%; }
      .w_wrapper .content_box .btn, .w_wrapper_begin .content_box .btn {
        font: 100% "Open Sans Condensed", sans-serif;
        color: white;
        background-color: #9900cc;
        padding: 2%; }
      .w_wrapper .content_box img, .w_wrapper_begin .content_box img {
        width: 100%; }
      .w_wrapper .content_box h4, .w_wrapper_begin .content_box h4, .w_wrapper .content_box p, .w_wrapper_begin .content_box p, .w_wrapper .content_box a, .w_wrapper_begin .content_box a {
        margin-left: 1%; }
      .w_wrapper .content_box a, .w_wrapper_begin .content_box a,
      .w_wrapper .content_box a:focus,
      .w_wrapper_begin .content_box a:focus, .w_wrapper .content_box a:hover, .w_wrapper_begin .content_box a:hover {
        color: black;
        font-size: 0.75rem; }
      .w_wrapper .content_box table, .w_wrapper_begin .content_box table {
        border: 2px solid #7d7d7d;
        width: 100%; }
      .w_wrapper .content_box th, .w_wrapper_begin .content_box th {
        border-bottom: 2px solid #7d7d7d; }
      .w_wrapper .content_box td, .w_wrapper_begin .content_box td, .w_wrapper .content_box th, .w_wrapper_begin .content_box th {
        text-align: left;
        padding: 8px;
        font-size: 0.75rem; }
        .w_wrapper .content_box td span, .w_wrapper_begin .content_box td span, .w_wrapper .content_box th span, .w_wrapper_begin .content_box th span {
          font-size: 0.75rem; }

  .w_order1 {
    order: 1; }

  .w_order2 {
    order: 2; }

  .akuelles_wrapper {
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: 2%;
    width: 60%;
    display: flex;
    flex-direction: column; }
    .akuelles_wrapper .akt_banner_box {
      background-color: #9900cc;
      width: 100%;
      padding-top: 1%;
      padding-right: 1%;
      padding-left: 1%;
      color: white; }
      .akuelles_wrapper .akt_banner_box h4 {
        background-color: #9900cc; }
    .akuelles_wrapper .akl_box {
      padding: 1%;
      border-bottom: 2px solid #9900cc;
      border-left: 2px solid #9900cc;
      border-right: 2px solid #9900cc;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }
      .akuelles_wrapper .akl_box .akt_headline_box {
        border-bottom: 2px solid #9900cc; }

  footer {
    position: relative;
    bottom: 0;
    background-color: #9900cc;
    text-align: center;
    color: white;
    padding: 2.5%; }
    footer h4 {
      background-color: #9900cc; }
    footer a,
    footer a:focus {
      color: white;
      font-size: 1rem; }
    footer a:hover {
      color: #7d7d7d;
      font-size: 1rem; }

  .fullbox_wrapper {
    padding-top: 2%; }
    .fullbox_wrapper h3 {
      text-align: center; } }

/*# sourceMappingURL=desktop.css.map */
