@media (max-width: 599px) and (min-width: 600px) {
  .praxis_img_small {
    max-width: 46%;
    padding: 2%; } }
@media (max-width: 599px) {
  .praxis_img_small {
    max-width: 96%;
    padding: 2%; }

  .picture_box {
    display: flex;
    flex-wrap: wrap; }

  /* The Modal (background) */
  .modal {
    display: none;
    position: fixed;
    z-index: 10;
    padding-top: 5%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black; }

  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1200px; }

  /* The Close Button */
  .close {
    color: white;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
    background: #000; }

  .close:hover,
  .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer; }

  .mySlides {
    display: none; }

  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none; }

  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px; }

  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }

  /* Number text (1/3 etc) */
  .numbertext {
    color: black;
    font-size: 0.65rem;
    padding: 8px 12px;
    position: absolute;
    top: 0; }

  .caption-container {
    text-align: center;
    background-color: black;
    padding: 2px 16px;
    color: white; }

  .active,
  .demo:hover {
    opacity: 1; }

  img.hover-shadow {
    transition: 0.3s; }

  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

  * {
    font: 100% "Open Sans Condensed", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1rem; }
    * a,
    * a:focus,
    * a:hover {
      color: #7d7d7d;
      cursor: pointer; }

  html body {
    width: 100%; }

  h2 {
    font-size: 3rem; }

  h3 {
    font-size: 2.5rem; }

  h4 {
    font-size: 2rem; }

  .active {
    display: block; }

  .hidden {
    display: none; }

  .header_wrapper {
    width: 100%; }
    .header_wrapper header {
      width: 100%; }
      .header_wrapper header nav, .header_wrapper header .i_menu {
        background-color: #9900cc;
        width: 100%;
        color: white; }
        .header_wrapper header nav a, .header_wrapper header .i_menu a {
          text-decoration: none;
          cursor: pointer; }
      .header_wrapper header .h_menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background-color: #9900cc;
        padding-right: 2%;
        padding-top: 10px;
        padding-bottom: 10px; }
      .header_wrapper header .i_menu {
        border-bottom: 2px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 3.5rem; }
      .header_wrapper header span, .header_wrapper header .nav_infoData {
        background-color: #9900cc;
        font-size: 1.5rem; }
      .header_wrapper header .nav_icons {
        font-size: 2rem; }
      .header_wrapper header .nav_infoData {
        font-size: 1rem; }
      .header_wrapper header a,
      .header_wrapper header a:focus,
      .header_wrapper header a:hover {
        color: white;
        cursor: pointer; }
      .header_wrapper header .nav_item_box {
        display: none; }

  .header_img_box {
    width: 100%; }
    .header_img_box img {
      width: 100%; }

  .logo_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-bottom: 2px solid #9900cc;
    margin-top: 20px; }
    .logo_wrapper .logo_items {
      padding: 2% 0;
      width: 100%;
      font-size: 2.5rem; }
    .logo_wrapper img {
      max-width: 50%; }

  .welcome_wrapper {
    padding-top: 2.5%;
    width: 100%; }
    .welcome_wrapper .welcome_text_box {
      width: 80%;
      margin-right: auto;
      margin-left: auto;
      text-align: center; }

  .akuelles_wrapper {
    width: 100%; }
    .akuelles_wrapper .akl_box {
      padding: 2.5% 1%;
      width: 80%;
      margin: 0 auto;
      border-bottom: 5px solid #9900cc;
      border-left: 5px solid #9900cc;
      border-right: 5px solid #9900cc;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px; }
    .akuelles_wrapper .akt_banner_box, .akuelles_wrapper .akt_banner_box h4 {
      background-color: #9900cc;
      padding: 1.25%;
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      .akuelles_wrapper .akt_banner_box h4 {
        color: white; }
    .akuelles_wrapper .akt_headline_box {
      border-bottom: 2px solid #9900cc; }

  .content_box {
    padding-top: 2.5%;
    width: 80%;
    margin: 0 auto; }
    .content_box img {
      max-width: 100%; }
    .content_box h4, .content_box p, .content_box a {
      color: black;
      margin-bottom: 0.25rem; }
    .content_box .btn {
      border-radius: 0;
      font: 100% "Open Sans Condensed", sans-serif;
      color: white;
      background-color: #9900cc;
      padding: 3%; }
    .content_box table {
      border: 2px solid #7d7d7d;
      width: 100%; }
    .content_box th {
      border-bottom: 2px solid #7d7d7d;
      font-size: 1rem; }
    .content_box td, .content_box th {
      text-align: left;
      padding: 0.75%;
      font-size: 1rem; }
      .content_box td span, .content_box td .header_wrapper header .nav_infoData, .header_wrapper header .content_box td .nav_infoData, .content_box th span, .content_box th .header_wrapper header .nav_infoData, .header_wrapper header .content_box th .nav_infoData {
        font-size: 1rem; }
    .content_box ul {
      list-style-type: none;
      margin-left: 1%; }
      .content_box ul li {
        font-size: 1rem; }

  .w_wrapper {
    padding-top: 2.5%;
    width: 100%;
    border-bottom: 2px solid #9900cc;
    margin-bottom: 5%; }

  .fullbox_wrapper {
    padding-top: 2.5%;
    width: 80%;
    margin: 0 auto; }
    .fullbox_wrapper h3 {
      text-align: center; }

  footer {
    position: relative;
    bottom: 0;
    background-color: #9900cc;
    text-align: center;
    color: white;
    padding: 2.5%; }
    footer h4 {
      background-color: #9900cc;
      font-size: 0.75rem; }
    footer a,
    footer a:focus {
      color: white;
      font-size: 0.75rem;
      cursor: pointer; }
    footer a:hover {
      color: #7d7d7d;
      font-size: 0.75rem;
      cursor: pointer; } }

/*# sourceMappingURL=mobile.css.map */
